@import "tailwindcss";

@font-face {
    font-family: "CommitMono";
    src: url("/fonts/CommitMono-400-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "CommitMono";
    src: url("/fonts/CommitMono-700-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@theme {
    --font-mono: CommitMono, monospace;
    --color-eggshell-50: #f9f7f5;
    --color-eggshell-100: #fff;
    --color-eggshell-200: #dad4cd;
    --color-eggshell-250: #dcd6cf;

    --color-grey-500: #555;
    --color-grey-300: #888;

    --color-brown-300: #80756e;
    --color-brown-400: #67564d;
    --color-brown-500: #473a33;
    --color-brown-600: #261a14;
}

@layer base {
    body {
        @apply font-sans bg-eggshell-100 text-brown-500 antialiased;
    }
}
